{% load static %}
<footer class="footer fixed-bottom">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;700&display=swap');

        .footer {
            background-color: #da3853;
            padding: 1rem 1.5rem;
            border-top: 2px solid white;
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: 'Quicksand', sans-serif;
        }
        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .footer-logo {
            display: flex;
            align-items: center;
        }
        .footer-logo img {
            height: 50px;
            margin-right: 1rem;
        }
        .footer-links {
            display: flex;
            align-items: center;
        }
        .footer-links a {
            color: white !important;
            font-size: 1rem;
            text-decoration: none !important;
            margin: 0 1rem;
            transition: color 0.3s ease, background-color 0.3s ease;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .footer-links a:hover {
            color: #A40C0C !important;
            background-color: #ff9999;
            text-decoration: none !important;
        }
        .social-media {
            display: flex;
            align-items: center;
        }
        .social-media a {
            margin: 0 0.5rem;
        }
        .social-media img {
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
        }
        .social-media img:hover {
            transform: scale(1.1);
        }
    </style>

    <div class="footer-content">
        <div class="footer-logo">
            <img src="{% static 'logo/logo_white.svg' %}" alt="Holbies' Bakery Logo">
            <a href="http://localhost:8000">Holbies' Bakery</a>
        </div>
        <div class="footer-links">
            <a href="{% url 'dashboard' %}">Bakery Login</a>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100095726403283/" target="_blank">
                <img src="{% static 'images/facebook-icon.png' %}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/holbertonazerbaijan/" target="_blank">
                <img src="{% static 'images/instagram-icon.png' %}" alt="Instagram">
            </a>
        </div>
    </div>
</footer>
