{% load static %}
<footer class="footer fixed-bottom">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;700&display=swap');

        .footer {
            background-color: #da3853;
            padding: 0.2rem 0.8rem;
            border-top: 2px solid white;
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
            /* Center and stack content */
            display: flex;
            flex-direction: column; /* Stack elements vertically */
            align-items: center;    /* Center items horizontally */
            font-family: 'Quicksand', sans-serif;
            width: 100%; 
            position: fixed;
            bottom: 0;
        }


        .footer-logo {
            display: flex;
            align-items: center;
            margin-bottom: 1rem; 
        }

        .footer-logo img {
            height: 60px;
            margin-right: 1rem;
        }

        .footer-links {
            margin-bottom: 1rem;
        }


        .footer-text {
            font-size: 0.9rem;
        }
    </style>

    <div class="footer-logo">  
        <img src="{% static 'logo/logo_white.svg' %}" alt="Holbies' Bakery Logo">
        <a class="btn btn-custom nav-link" href="{% url 'dashboard' %}"> Bakery Login</a>
        <a href=""></a>
    </div>
    <div class="footer-text"> &copy; {% now "Y" %} <a href="http://localhost:8000"> Holbies' Bakery.</a> All rights reserved.</div>
</footer>
