{% extends 'customer/base.html' %}
{% load static %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Welcome to Holbies' Bakery!</h1>
            <p><h5>Your one-stop destination for delicious, handcrafted cakes and pastries. We are delighted to serve you the finest baked goods, made with love and the highest quality ingredients. </h5></p>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <h2><img src="{% static 'images/cupcake_1.png' %}" alt="Holbies' Bakery Logo" width="100" height="100"> Order Now! <img src="{% static 'images/cupcake_1.png' %}" alt="cupcake" width="100" height="100"></h2>
                    <div>
                        <p>Enjoy our delicious cakes and pastries delivered straight to your doorstep. Whether it's for a special occasion or just to satisfy your sweet tooth, we're here to make it easy for you.</p>
                    </div>
                    <a href="{% url 'order' %}" class="btn btn-danger">GO!</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <h2><img src="{% static 'images/cupcake_1.png' %}" alt="Holbies' Bakery Logo" width="100" height="100"> Visit Us! <img src="{% static 'images/cupcake_1.png' %}" alt="cupcake" width="100" height="100"></h2>
                    <div><p>Step into a world of delightful aromas and warm ambiance, our friendly staff and inviting atmosphere make every visit a memorable experience. Join us for a cup of coffee and a slice of happiness!</p>
                        </div>
                    <a href="{% url 'contact' %}" class="btn btn-danger">GO!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
