{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

    body{
        background:  url(../../static/images/slide1.jpg);
        background-size: cover;
        font-family: 'Libre Baskerville', serif;
        color:rgb(0, 0, 0);
    }
    .btn-custom {
        padding: 2px 5px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(135deg, #f64361 0%, #da3853 100%);
        color: #FFFFFF;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
    }
    .btn-custom:hover {
        background: linear-gradient(135deg, #da3853 0%, #A40C0C 100%);
    }
    .card-wrapp{
        background-color: rgba(251, 244, 244, 0.613);
        backdrop-filter: blur(20px); 
        border-radius: 12px;
        transition: transform 0.5s cubic-bezier(.33, .72, .602, .919);
        /* Adjust blur amount as needed */
    }
  
    .card-title{
        font-family: 'Libre Baskerville', serif;
        color: #da3853;
        font-size: 1.5rem;
        
    }
    .img-fluid{
        height: 100%;
        width:100%;
        object-fit: cover;
        border-radius: 12px;

    }
    .card-wrapp:hover {
        transform: scale(1.1);
    }
</style>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card-wrapp p-4" style="max-width: 800px; max-height: 90vh; overflow-y: auto;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ item.image.url }}" class="img-fluid" alt="item">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    {% if item.is_sale %}

                    <h5 class="card-title">{{ item.name }} </h5>
                    <h5><strike>${{ item.price }}</strike> ${{ item.sale_price}} </h5>
                    <p class="card-text">{{ item.description }}</p>
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <select style="height:40px; 
                            font-size: 20px; 
                            background-color: #ffffff;
                            color: #495057; 
                            border: 2px solid #da3853; 
                            border-radius: .25rem; " class="form-select form-select-lg me-2" aria-label="Default select example" id="qty-cart" style="width: auto;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="button" value="{{ item.id }}" class="add-cart-btn btn btn-custom update-cart">Add to Cart</button>
<a href="{% url 'cart_summary' %}" class="btn btn-custom update-cart me-2">Go to cart</a>
<a href="{% url 'menu' %}" class="btn btn-custom update-cart">Back to products</a>

                        </div>
                    </div>
                    
                </div>

                    {% else %}
                    <h5 class="card-title">{{ item.name }} </h5>
                    <h5>${{ item.price }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <select style="height:40px; 
                            font-size: 20px; 
                            background-color: #ffffff;
                            color: #495057; 
                            border: 2px solid #da3853; 
                            border-radius: .25rem; " class="form-select form-select-lg me-2" aria-label="Default select example" id="qty-cart" style="width: auto;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="button" value="{{ item.id }}" class="add-cart-btn btn btn-custom update-cart">Add to Cart</button>
<a href="{% url 'cart_summary' %}" class="btn btn-custom update-cart me-2">Go to cart</a>
<a href="{% url 'menu' %}" class="btn btn-custom update-cart">Back to products</a>

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ensure jQuery is loaded first -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        $('#qty-cart').val('1'); // Set default value to 1
    $(document).on('click', ".add-cart-btn", function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "/cart/add/",
            data: {
                item_id: $(this).val(),
                item_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload()
                
            },
            error: function(xhr, errmsg, err){
                console.log('Error:', err);
            }
        });
    });
    });
</script>

{% endblock content %}
