{% extends 'customer/base.html' %}

{% block content %}
</br>
</br></br>
</br></br>
</br></br>
</br></br>
</br>

<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6 col-sm-12 text-center">
                        <h1>Place an order</h1>
                    </div>
                </div>

                <!-- Desserts Section -->
                <div class="pt-5">
                    <button class="btn btn-danger btn-block mb-3" type="button" data-toggle="collapse" data-target="#dessertsCollapse" aria-expanded="false" aria-controls="dessertsCollapse">
                        Desserts
                    </button>
                    <div class="collapse" id="dessertsCollapse">
                        <div class="card">
                            <div class="card-body">
                                {% for dessert in desserts %}
                                <div class="row mt-4">
                                    <div class="col-md-2 col-sm-12">
                                        <img class="rounded" src="{{ dessert.image.url }}" width="100" height="120"/>
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <div class="d-flex flex-column">
                                            <div class="form-group form-check">
                                                <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                                <label class="form-check-label">{{ dessert.name }} - ${{ dessert.price }}</label>
                                            </div>
                                            <div class="form-group ml-3 mt-2 quantity-selector">
                                                <label for="quantity_{{ dessert.pk }}">Quantity:</label>
                                                <input type="number" name="quantity_{{ dessert.pk }}" class="form-control" value="0" min="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Drinks Section -->
                <div class="pt-5">
                    <button class="btn btn-danger btn-block mb-3" type="button" data-toggle="collapse" data-target="#drinksCollapse" aria-expanded="false" aria-controls="drinksCollapse">
                         Drinks
                    </button>
                    <div class="collapse" id="drinksCollapse">
                        <div class="card">
                            <div class="card-body">
                                {% for drink in drinks %}
                                <div class="row mt-4">
                                    <div class="col-md-2 col-sm-12">
                                        <img class="rounded" src="{{ drink.image.url }}" width="100" height="120"/>
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <div class="d-flex flex-column">
                                            <div class="form-group form-check">
                                                <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                                <label class="form-check-label">{{ drink.name }} - ${{ drink.price }}</label>
                                            </div>
                                            <div class="form-group ml-3 mt-2 quantity-selector">
                                                <label for="quantity_{{ drink.pk }}">Quantity:</label>
                                                <input type="number" name="quantity_{{ drink.pk }}" class="form-control" value="0" min="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Customer Information Section -->
                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="email">Email Address</label>
                    <input required class="form-control" type="email" placeholder="example@example.com" name="email" />
                </div>

                <div class="form-group pt-3">
                    <label for="street">Street Address</label>
                    <input required class="form-control" type="text" placeholder="Neftchiler ave 29" name="street" />
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="city">City</label>
                            <input required class="form-control" type="text" placeholder="Baku" name="city" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="country">Country</label>
                            <input required class="form-control" type="text" placeholder="Azerbaijan" name="country" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="phone">Phone</label>
                            <input required class="form-control" type="text" placeholder="012 345 67 89" name="phone" />
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#submitModal">
                  Submit Order!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-danger">Place Order!</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}

<style>
    .quantity-selector input {
        max-width: 80px;
    }
</style>
