{% extends 'customer/base.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;700&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
    body{
        background: linear-gradient(135deg, #ffffff90 0%, #ffd6d686 100%);
        background-size: cover;
        font-family: 'Libre Baskerville', serif;
    }
    h1{
        font-family: 'Libre Baskerville', serif;
        color: #da3853;
        font-weight: bold;
        font-size: 3rem;
    }
    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-body {
        background: linear-gradient(135deg, #ffffff 0%, #da3853 100%);
        border-radius: 10px;
        padding: 20px;
        max-height: 250px;
        overflow-y: auto;
    }
    .rounded {
        border-radius: 10px;
        object-fit: cover;
        transition: transform 0.3s;
    }
    .rounded:hover {
        transform: scale(1.1);
    }
    .dessert-info {
        color: #fff;
    }
    .form-check-label {
        margin-left: 5px;
        font-size: 1.1em;
        font-weight: bold;
    }
    .form-check-input {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #f6637b;
        cursor: pointer;
        transition: all 0.3s;
    }
    .form-check-input:checked {
        background-color: #e865a2;
        border-color: #f6d365;
    }
    .quantity-selector label {
        font-weight: bold;
        font-family:  'Libre Baskerville', serif;
        font-size: 12px;
        
    }
    .quantity-selector input {
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5px;
        width: 50px;
        text-align: center;
        background-color: #fff;
        border: 2px solid #e865a2;
        transition: all 0.3s;
    }
    .quantity-selector input:focus {
        border-color: #af0d91;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .quantity-selector input {
        max-width: 80px;
    }
    .form-check-label {
        font-family:  'Libre Baskerville', serif;
        font-size: 16px;

    }
    .modal-content {
        background-color: #f8f9fa;
    }
    .custom-btn {
        background: linear-gradient(135deg, #f64361 0%, #da3853 100%);
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        transition: background 0.3s ease;
    }
    .custom-btn:hover {
        background: linear-gradient(45deg, #da3853, #c62828);
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .flex .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pt-5 {
        padding-top: 5rem !important;
    }
    
    label {
            font-weight: bold; /* Bold labels */
        }
        .btn-submit {
            background-color: #da3853; 
            color: white; 
            border: none; 
            padding: 10px 20px; 
            font-size: 18px; 
            border-radius: 5px;
        }
        .btn-submit:hover {
            background-color: #c82333; /* Darker red on hover */
        }

</style>
<br><br><br>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6 col-sm-12 text-center">
                        <h1>Quick order</h1>
                        <br>
                        <h5>Order top-selling items in two clicks</h5>
                    </div>
                </div>

<!-- Desserts Section -->
      <!-- Desserts Section -->
      <div class="flex">
        <!-- Doughnuts -->
        <div class="pt-5" style="width: 100%;">
            <button class="btn custom-btn btn-block mb-3" type="button" data-toggle="collapse" data-target="#cakesCollapse" aria-expanded="false" aria-controls="cakesCollapse">
                Doughnuts
            </button>
            <div class="collapse" id="cakesCollapse">
                <div class="card">
                    <div class="card-body">
                        {% for dessert in desserts %}
                            {% if 'doughnut' in dessert.name|lower %}
                            <div class="row mt-4">
                                <div class="col-md-2 col-sm-12">
                                    <img class="rounded" src="{{ dessert.image.url }}" width="70" height="90" alt="{{ dessert.name }}"/>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}" id="dessert_{{ dessert.pk }}">
                                            <label class="form-check-label" for="dessert_{{ dessert.pk }}">{{ dessert.name }}: ${{ dessert.price }}</label>
                                
                                        </div>
                                        <div class="form-group ml-3 mt-2 quantity-selector">
                                           <div><label for="quantity_{{ dessert.pk }}">Quantity:</label></div>
                                         <input type="number" name="quantity_{{ dessert.pk }}" class="form-control" value="0" min="0" id="quantity_{{ dessert.pk }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Cupcakes -->
        <div class="pt-5" style="width: 100%;">
            <button class="btn custom-btn btn-block mb-3" type="button" data-toggle="collapse" data-target="#cupcakesCollapse" aria-expanded="false" aria-controls="cupcakesCollapse">
                Cupcakes
            </button>
            <div class="collapse" id="cupcakesCollapse">
                <div class="card">
                    <div class="card-body">
                        {% for dessert in desserts %}
                            {% if 'cupcake' in dessert.name|lower %}
                            <div class="row mt-4">
                                <div class="col-md-2 col-sm-12">
                                    <img class="rounded" src="{{ dessert.image.url }}" width="70" height="90" alt="{{ dessert.name }}"/>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}" id="dessert_{{ dessert.pk }}">
                                            <label class="form-check-label" for="dessert_{{ dessert.pk }}">{{ dessert.name }}: ${{ dessert.price }}</label>
                                            
                                            
                                        </div>
                                        <div class="form-group ml-3 mt-2 quantity-selector">
                                            <label for="quantity_{{ dessert.pk }}">Quantity:</label>
                                            <input type="number" name="quantity_{{ dessert.pk }}" class="form-control" value="0" min="0" id="quantity_{{ dessert.pk }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Pies -->
        <div class="pt-5" style="width: 100%;">
            <button class="btn custom-btn btn-block mb-3" type="button" data-toggle="collapse" data-target="#piesCollapse" aria-expanded="false" aria-controls="piesCollapse">
                Pastries
            </button>
            <div class="collapse" id="piesCollapse">
                <div class="card">
                    <div class="card-body">
                        {% for dessert in desserts %}
                            {% if 'pastry' in dessert.name|lower %}
                            <div class="row mt-4">
                                <div class="col-md-2 col-sm-12">
                                    <img class="rounded" src="{{ dessert.image.url }}" width="70" height="90" alt="{{ dessert.name }}"/>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="d-flex flex-column">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}" id="dessert_{{ dessert.pk }}">
                                            <label class="form-check-label" for="dessert_{{ dessert.pk }}">{{ dessert.name }}: ${{ dessert.price }} </label>
                                           
                                        </div>
                                        <div class="form-group ml-3 mt-2 quantity-selector">
                                            <label for="quantity_{{ dessert.pk }}">Quantity:</label>
                                            <input type="number" name="quantity_{{ dessert.pk }}" class="form-control" value="0" min="0" id="quantity_{{ dessert.pk }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Drinks Section -->
        <div class="pt-5"  style="width: 100%;">
            <button class="btn custom-btn btn-block mb-3" type="button" data-toggle="collapse" data-target="#drinksCollapse" aria-expanded="false" aria-controls="drinksCollapse">
                Drinks
            </button>
            <div class="collapse" id="drinksCollapse">
                <div class="card">
                    <div class="card-body">
                        {% for drink in drinks %}
                        <div class="row mt-4">
                            <div class="col-md-2 col-sm-12">
                                <img class="rounded" src="{{ drink.image.url }}" width="70" height="90" alt="{{ drink.name }}"/>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="d-flex flex-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}" id="drink_{{ drink.pk }}">
                                        <label class="form-check-label" for="drink_{{ drink.pk }}">{{ drink.name }}: ${{ drink.price }}</label>
                                        
                                    </div>
                                    <div class="form-group ml-3 mt-2 quantity-selector">
                                        <label for="quantity_{{ drink.pk }}">Quantity:</label>
                                        <input type="number" name="quantity_{{ drink.pk }}" class="form-control" value="0" min="0" id="quantity_{{ drink.pk }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

                   
               <!-- Customer Information Section -->
            <div class="container">
              <div class="form-group pt-3">
                <label for="name">Full Name</label>
                <input required class="form-control" type="text" placeholder="Your Name" name="name" />
            </div>

            <div class="form-group pt-3">
                <label for="name">Email Address</label>
                <input required class="form-control" type="text" placeholder="example@example.com" name="email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group pt-3">
                <label for="name">Street Address</label>
                <input required class="form-control" type="text" placeholder="Neftchiler ave 29" name="street" />
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group pt-3">
                        <label for="name">City</label>
                        <input required class="form-control" type="text" placeholder="Baku" name="city" />
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="form-group pt-3">
                        <label for="name">Country</label>
                        <input required class="form-control" type="text" placeholder="Azerbaijan" name="country" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group pt-3">
                        <label for="name">Phone</label>
                        <input required class="form-control" type="text" placeholder="012 345 67 89" name="phone" />
                    </div>
                </div>
            </div>
            <br> <br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-block btn-submit" data-toggle="modal" data-target="#submitModal">
              Submit Order
            </button>
            <br> <br> <br> <br>

            <!-- Modal -->
            <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="submitModalLabel">Submit Your Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                    <button type="submit" class="btn btn-danger">Place Order!</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
       
        </form>
    </div>
</div>
</div>

{% endblock content %}