
{% extends 'customer/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
</br>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body{
        background:url(../static/images/_52dd8fa0-4119-41de-81fb-02a2029299b5.jpeg);
        background-size: cover;
        font-family:"Poppins", sans-serif;
    }
    .container{
        background-color: rgba(255, 255, 255, 0.741);
        backdrop-filter: blur(30px); 
        border-radius: 12px;
        font-weight: 400; /* Change font-weight here */
        font-size: 18px;  /* Change font-size here */
    }
    .rounded {
        border-radius: 10px;
        object-fit: cover;
        transition: transform 0.3s;
    }
    .rounded:hover {
        transform: scale(1.1);
    }
    h2 {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        font-weight: 700; /* Change font-weight here */
        color:#a40c0c  /* Change font-size here */
    }
    .table th, .table td {
        font-weight: 400; /* Change font-weight here */
        font-size: 16px;  /* Change font-size here */
    }
    .btn {
        font-weight: 500; /* Change font-weight here */
        font-size: 14px;  /* Change font-size here */
    }
    .card h2 {
        font-weight: 700; /* Change font-weight here */
        font-size: 24px;  /* Change font-size here */
    }
    .card h4 {
        font-weight: 500; /* Change font-weight here */
        font-size: 18px;  /* Change font-size here */
    }
</style>

<div class="container mt-5">
    {% if cart_items %}
    <h2 style="padding-top:50px">Cart Summary</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded" width="150"></td>
                <td style="font-family: 'Pacifico', cursive; font-size: 20px;">{{ item.name }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <select class="form-select me-2" aria-label="Default select example" id="select{{item.id}}" style="width: auto;">
                            <option selected>
                                {% for key, value in quantities.items %}
                                    {% if key == item.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="button" data-item_id="{{ item.id }}" class="btn btn-outline-dark btn-sm update-cart">Update</button>
                        <button type="button" data-item_id="{{ item.id }}" class="btn btn-outline-danger btn-sm  delete-item">Remove</button>
                    </div>
                </td>
                <td style="font-weight: 600;">${{ item.price }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="4">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong>Total: ${{ totals }}</strong>
                        <a href="{% url 'checkout' %}" class="btn btn-danger">Checkout</a>
                    </div>
                    <br><br>
                </br></br></br>
                </td>
            </tr>
            <br><br>
        </br></br></br>

        </tbody>
    </table>
    {% else %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <div class="row justify-content-center" >
            <div class="col-md-6 text-center">
                <div class="card border-danger" style=" background-color: rgba(255, 255, 255, 0.741);">
                    <div class="card-header text-white" style="background-color: #a40c0c;">
                        <h2 style="color: aliceblue;">Oops..</h2>
                    </div>
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="250" height="200" fill="#a40c0c" class="bi bi-basket2" viewBox="0 0 16 16">
                            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z"/>
                        </svg>
                        <h4>Your cart is empty</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
</div>


<script>
    // update cart
    $(document).on('click', ".update-cart", function(e){
        e.preventDefault();
        var itemid = $(this).data('item_id');
        var itemQty = $('#select' + itemid + ' option:selected').val();  // Corrected this line
        $.ajax({
            type: 'POST',
            url: "/cart/update/",
            data: {
                item_id: itemid,
                item_qty: itemQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
                console.log('Error:', err);
            }
        });
    });

    // delete item 
    $(document).on('click', ".delete-item", function(e){
        e.preventDefault();
        var itemid = $(this).data('item_id');
        $.ajax({
            type: 'POST',
            url: "/cart/delete/",
            data: {
                item_id: itemid,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
                console.log('Error:', err);
            }
        });
    });
</script>
{% endblock content %}