{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<div class="container mt-5">
    <h2>Cart Summary</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ item.image.url }}" alt="{{ item.name }}" width="100"></td>
                <td>{{ item.name }}</td>
                <td>
                    {%for key, value in quantities.items %}
                    {% if key == item.id|slugify %}
                    {{ value }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>${{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
