
{% extends 'customer/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="container mt-5">
    <h2>Cart Summary</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ item.image.url }}" alt="{{ item.name }}" width="100"></td>
                <td>{{ item.name }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <select class="form-select me-2" aria-label="Default select example" id="select{{item.id}}" style="width: auto;">
                            <option selected>
                                {% for key, value in quantities.items %}
                                    {% if key == item.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="button" data-item-id="{{ item.id }}" class="btn btn-secondary update-cart">Update</button>
                    </div>
                </td>
                <td>${{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).on('click', ".update-cart", function(e){
        e.preventDefault();
        var itemid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "/cart/update/",
            data: {
                item_id: $(this).data('index'),
                item_qty: $('#select' + itemid + 'option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
              location.reload();
            },
            error: function(xhr, errmsg, err){
                console.log('Error:', err);
            }
        });
    });
</script>
{% endblock content %}