crispy-bootstrap4==2024.1
Django==4.2
django-allauth==0.63.3
django-bootstrap4==24.3
django-crispy-forms==2.1
django-mathfilters==1.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
pillow==10.3.0
ttkbootstrap==1.10.1