<nav class="navbar">
  
  <a class="navbar-brand" href="{% url 'index' %}">Holbies Bakery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"> 
    </ul>
    <ul class="navbar-nav">
    </ul>
    
  </div>
  <a href="{% url 'dashboard' %}" class="navbar-brand">Dashboard</a>
</nav>
 <style>
     
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

  body {
    font-family: 'Libre Baskerville', serif;
    }
  .navbar{
    font-family: 'Libre Baskerville', serif;
    background-color: #da3853;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        border-bottom: 2px solid white;
  }
  .dashboard-link {
    color: white;
  }

 </style>
