<nav class="navbar">
  
  <a class="navbar-brand" href="{% url 'index' %}">Holbies Bakery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"> 
    </ul>
    <ul class="navbar-nav">
    </ul>
    
  </div>
  <a href="{% url 'dashboard' %}" class="dashboard-link">Dashboard</a>
</nav>
 <style>
      @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  body {
    font-family:"Poppins", sans-serif;
    }
  .navbar{
    font-family: "Poppins", sans-serif;
    background-color: #da3853;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        border-bottom: 2px solid white;
  }
  .dashboard-link {
    color: white;
  }

 </style>
