.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font: inherit;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body h4 {
    margin-top: 20px;
    color: #a40c0c;
    font-size: x-large;
}

.bi-basket2 {
    margin-top: 20px;
}